[2015-06-09 03:15] trietbui85 opened #1 "No Indeterminate ProgressBar/Horizontal in Samsung device, Android 5.0"
My device is: Samsung Galaxy S5, Android 5.0.

As you can see in below screenshot, there is native implementation of Indeterminate ProgressBar, but no one in library implementation. The same issue with ProgressBar on Toolbar.

![image](https://cloud.githubusercontent.com/assets/340836/8049919/f2ca4fdc-0e8f-11e5-9975-fa015e5214cc.png)

[2015-06-09 03:24] zhanghai commented on #1
Seems that the ProgressBar on that platform is not happy to start our animation. Will investigate it later today.

[2015-06-09 04:14] zhanghai commented on #1
Could you please test for [this sample APK](https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/8ea7490b8fcb2076967496f129ba48b5e14da66f/dist/sample.apk)?

I tried to set the progress drawable in style to `@null` to avoid the overhead of loading a drawable that's bound to be replaced, but on my Samsung S4 5.0.1 the determinate horizontal progress won't show up (but the indeterminate ones

[2015-06-09 07:37] trietbui85 commented on #1
@DreaminginCodeZH I still got the same issue as the old build: both Indeterminate ProgressBar and Horizontal of native implementation don't show as expected.

[2015-06-09 13:45] zhanghai commented on #1
Tested on a Samsung S4 5.0.1, a Samsung 4.3, an Android-x86 4.4.2, an Android-x86 5.0, an Android-x86 5.0.1, a Cyanogenmod 5.0.2, a crDriod 5.0.2, cannot reproduce this bug. Seems to be a Samsung-specific regression that has been fixed.

Just to be sure, what is your Android version specifically? is it plain 5.0, or 5.0.1, or 5.0.2?

It can be helpful if you can provide some related adb log, and a

[2015-06-10 03:49] trietbui85 commented on #1
Hi, my phone run Android plain 5.0.

However this morning, when I try to clone your repo, and use AppCompat lib v22.1.0 (I haven't updated my Android support lib to v22.2.0 yet), then I see no issue with Indeterminate ProgressBar and Horizontal.

Will try with AppCompat v22.2.0 and let you know later.

![image](https://cloud.githubusercontent.com/assets/340836/8074551/4aeaa8f0-0f5e-11e5-95a8-a400c

[2015-06-10 04:20] zhanghai commented on #1
So when you're running the compiled sample apk from this repo (with appcompat 22.2), the indetermianate progress won't show up. But when you compile it against appcompat 22.1, it works. Did I get it right?

Just a piece of information. If this is an appcompat related issue, the main usage of it in this library is `PathInterpolatorCompat`, however there should be no problem related to it since impl

[2015-06-10 07:06] trietbui85 commented on #1
Well, just compile and run app against AppCompat v22.2.0 and see it run without any problem. Only see visibility with Indeterminate ProgressBar and Horizontal problem when use [your APK](https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/master/dist/sample.apk) to test.

Update: found a little interesting log:

[2015-06-10 07:53] zhanghai commented on #1
Oh, it is ProGuard. ObjectAnimators call by reflection. See https://github.com/PhilJay/MPAndroidChart/issues/348

I've always tested with debug build APKs (so that I can modify source and debug immediately). My fault.

Will fix this lator today.

(But the library aar is not affected since the obfuscation happens only when I compile sample.)

[2015-06-10 11:18] trietbui85 commented on #1
Ha ha, thanks for pointing it out. It's great to finally know where does this issue come from :)

[2015-06-11 07:25] zhanghai commented on #1
Issue resolved, and directives have been added to readme.

I've also published this library to Maven central btw, you can take a look at the integration section.

[2015-06-11 07:25] #1 closed, assigned to zhanghai

[2015-06-15 04:07] zhanghai opened #2 "MaterialProgressBar widget"
Should add this to make life easier.

[2015-09-23 04:59] zhanghai commented on #2
Implemented in a84537c.

[2015-09-23 04:59] #2 closed, assigned to zhanghai

[2015-09-24 02:19] zhanghai opened #4 "Integrate Proguard rules"
As in afollestad/material-dialogs#708.

[2015-09-24 02:43] zhanghai commented on #4
Done.

[2015-09-24 16:11] ashughes commented on #4
You should specify the `consumerProguardFiles` in `defaultConfig` rather than `buildTypes/release` so that it works if the consuming application proguards in both debug and release mode (e.g. to avoid the 65k dex method limit).

[code]

I would also suggest removing `minifyEnabled false` from your library's `buildTypes/release` as this is something that should be specified by the consuming applica

[2015-09-25 05:31] zhanghai commented on #4
Good point on dex method limit, I'll move the rules to defaultConfig now. Thank you.

[2015-09-25 05:38] zhanghai commented on #4
Released.

[2015-09-25 05:38] #4 closed, assigned to zhanghai

[2015-10-01 13:13] flaviojunior opened #6 ""java.lang.NumberFormatException: Invalid int:" on API 17"
API 17
Style: Widget.MaterialProgressBar.ProgressBar.Horizontal.NoPadding

[code]

[2015-10-01 13:48] zhanghai commented on #6
Is this crash specific to this style, that using other styles won't cause any problem?

Which version of this library are you using? The current stable is 1.1.3.

In `MaterialProgressBar.init()`, there are only two references to `TypedArray.getInt()`, which is on `app:mpb_progressStyle` and `android:tintMode`, which both can not be dimensions, so I wonder why there are .0dip inside the stacktrace.

[2015-10-01 16:13] flaviojunior commented on #6
The error occurs in all styles and behaviors.
I was using version 1.1.2 and now updated to 1.1.3.

The code a.getInt(styleable.MaterialProgressBar_android_tintMode, -1) is returning  .0dip.

In my project there is no occurrence of .0dip.

Thank you!

[2015-10-01 16:58] zhanghai commented on #6
Did you specify an `android:tint`? What attributes did you specify? Are you using a samsung device?

I just found that `android:tintMode` is added in API 21, unlike `android:tint` in API 1. I guess this can be a resource attr id collision. If so, an `app:tintMode` should be added.

[2015-10-01 17:11] flaviojunior commented on #6
My component:
< me.zhanghai.android.materialprogressbar.MaterialProgressBar
        android:id="@+id/pgbActivityIndicator"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:indeterminate="true"
        app:mpb_progressStyle="horizontal"
        app:mpb_useIntrinsicPadding="false"
        android:visibility="invisible"
        style="@style/Wid

[2015-10-02 08:00] zokipirlo commented on #6
I received this on Galaxy Nexus (4.3)

[code]

Using it like that

[code]

[2015-10-03 07:02] moshtagh commented on #6
i have the same problem on huaweri, android: 4.2.1

[code]

[2015-10-03 16:19] zhanghai commented on #6
Can you verify if 7db62ac fixed this?

[2015-10-04 01:11] y11t opened #7 "Caused by: java.lang.NumberFormatException: Invalid int: "48.0dip""
My app crashed on one of my users.

I was using  compile 'me.zhanghai.android.materialprogressbar:library:1.1.3'
Their version and device: Android 4.4 - Galaxy A3 (a33g)

Error:

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.mts.quicklhelper/com.mts.quicklhelper.MainActivity}: android.view.InflateException: Binary XML file line #29: Error inflating class me.zhanghai.androi

[2015-10-04 04:45] zhanghai commented on #7
Possible duplicate of #6.

[2015-10-04 07:26] zhanghai commented on #6
Reproduced with sample app on API 17 (but not on API 15), fixed in commit 512ca0f970, will be released soon.

[2015-10-04 09:06] zhanghai commented on #6
Released.

[2015-10-04 09:06] #6 closed, assigned to zhanghai

[2015-10-04 09:07] zhanghai commented on #7
Released as in #6.

[2015-10-04 09:07] #7 closed, assigned to zhanghai

[2015-10-06 08:17] zokipirlo commented on #6
Works great now. Tnx.

[2015-10-06 10:27] flaviojunior commented on #6
Thank you!

[2015-10-19 16:43] realdadfish opened #8 "Crash on API 17 / Android 4.2"
When the Material Progress Bar is instantiated on API 17, this crash pops up (tested on API 17 emulator and older Samsung device):

[code]

I debugged myself into the code but could not find the root source where this comes from. The value it apparently tries to parse is `0.0dip`, which is of course totally invalid for `android:tintMode`. Any clues here?

[2015-10-19 16:56] zhanghai commented on #8
Please make sure that you are using the latest version `1.1.4` and verify if this is a duplicate of #6 .

[2015-10-20 06:53] realdadfish commented on #8
Yep, 1.1.4 fixed the issue, sorry for the noise. Didn't saw a changelog or anything, so I was unaware of it.

[2015-10-20 06:53] #8 closed, assigned to zhanghai

[2015-10-22 05:14] bhaveshrangani opened #9 "Programmatically add style to progress bar"
how to add style attr programmatically?

[2015-10-22 07:16] zhanghai commented on #9
See https://groups.google.com/forum/#!msg/android-developers/P6vfKr5tqlY/X6204pvErjIJ .

[2015-10-29 18:33] oliverhausler opened #10 "Method set() with type float not found on target class class warning in log"
I see the following warning in the log:

10-29 11:31:31.257 31494-31494/cc.closeup.android D/ProgressBar: updateDrawableBounds: mProgressDrawable.setBounds()
10-29 11:31:31.262 31494-31494/cc.closeup.android W/PropertyValuesHolder: Method set() with type float not found on target class class me.zhanghai.android.materialprogressbar.IndeterminateHorizontalProgressDrawable$RectTransformX

I haven't c

[2015-10-30 02:39] zhanghai commented on #10
I've also seen this warning on old platforms as Android 4.1 some time ago, but with latest 1.1.4 this library worked without any problem, so I just moved on to some other work.

If you have observed something going wrong, or found out the cause of this warning, please let me know.

[2015-10-30 02:42] oliverhausler commented on #10
I can see this on both, 4.2 and 4.4 devices, but nothing seems to be wrong.

[2015-11-05 06:19] #9 closed, assigned to nobody

[2015-12-04 06:03] kashifandroiddev opened #11 "How to increase speed of indeterminate progress animation and color"
how to increase speed of animation and how to appy custom color

it get colorAccent by default
but i want to chage it

thanks

[2015-12-04 07:23] zhanghai commented on #11
As mentioned in README, you can use `android:tint` for color other than `?colorAccent`.

But as for the speed of animation, you will need to manually modify [me/zhanghai/android/materialprogressbar/Animators.java](library/src/main/java/me/zhanghai/android/materialprogressbar/Animators.java) and change the arguments of `setDuration()`.

The `Animators` class is intended to be a java backport for fr

[2015-12-04 10:04] kashifandroiddev commented on #11
ok thanks for your help........

[2015-12-04 10:05] #11 closed, assigned to zhanghai

[2015-12-08 02:12] zhanghai commented on #10
Should be a warning issued on pre-Lollipop for `PropertyValuesHolder` with `null` property name.

As the backport of this library follows the framework implementation of `ObjectAnimator.ofFloat()` which also creates `PropertyValuesHolder` with `null` property name, I'm not going to fix this.

[2015-12-08 02:13] #10 closed, assigned to zhanghai

[2015-12-12 21:38] oliverhausler opened #12 "init() should be called delayed"
MaterialProgressBar fully initializes even though it is set to INVISIBLE or GONE. It should instead only call init() when it first becomes visible.

I did some profiling and could improve overall time to set up a view to 20% just by removing MaterialProgressBar. I admit I used it very often, but you should still initialize lazy right before it is needed.

[2015-12-13 03:41] zhanghai commented on #12
Inflating the framework XML vector drawable should be much more expansive than creating the custom Java drawable in this library, except the creation of compat animators and interpolators on platforms prior to Lollipop where I workarounded by generating some float array for `PropertyValuesHolder` with `PathMeasure` (see [ObjectAnimatorCompatBase](library/src/main/java/me/zhanghai/android/materialp

[2015-12-13 03:45] oliverhausler commented on #12
I forgot to say that, sorry. It happens on old platforms <5.0.

[2015-12-13 03:46] zhanghai commented on #12
In other words, framework also loads drawables at creation instead of upon becoming visible, so I would like to pinpoint the issue first. (And perhaps your suggested solution will lag the animation during usage when the app animates a `MaterialProgressBar` from GONE to VISIBLE.)

[2015-12-13 03:55] oliverhausler commented on #12
Yes, I tried to set it to "gone" and it was still loaded, which might be a framework flaw.

I have a ScrollView in my app with hundreds of Views. Each view also had a MaterialProgressBar which I had set to gone, and which I only made visible when I needed it.

The view has like 10 embedded views (all built-in except MaterialProgressBar). As loading the ScrollView was slow (6 secs to populate 400 v

[2015-12-13 03:56] zhanghai commented on #12
BTW, I've just checked that support-v4 `FastOutSlowInInterpolator` sampled 201 points, half the number of this library. Don't know whether this can be a performance hit.

Another way around is to pre-sample the points as magic numbers so that no runtime calculation is needed - but this also loses the direct dependency on the orignal path, so as I did not encounter a performance problem myself and

[2015-12-13 04:00] oliverhausler commented on #12
I understand. Everything is a big mess under Android <50 and if it works well on Android 5.0+, it's a reasonable decision not to make optimizations for older versions.

[2015-12-13 04:01] zhanghai commented on #12
You mean 400 views on a pre-5.0 device? wow. Yes, in that situation this can really be a performance hit as each animator did not share their interpolated data as I only expected two or three `ProgressBar`s inside one activity.

And did you test on a Lollipop device? What is the situation there?

As a personal advice, I would strongly recommend that you switch to a recyclable view container as `Li

[2015-12-13 04:14] oliverhausler commented on #12
I haven't tested on a 5.0+ device and I don't have one here, sorry. But it won't give us a reasonable comparison either, probably, as it will be faster.

I tried implementing GridView, but it had by far worse performance than what I wrote. Problem is that users fling when scrolling, and recycling views takes much too long. So what I do is I place empty layouts into ScrollView and populate the view

[2015-12-13 04:15] zhanghai commented on #12
I'm willing to implement the optimization if it is outstanding enough and not much too dirty, and if you switched to recyclable containers and still find it annoying.

The planned optimizations are:
- [x] Cut down on `NUM_POINTS` inside `ObjectAnimatorCompatBase` from `500` to `201` as in support-v4.
- [ ] Use a `WeakHashMap` and `WeakReference`/`SoftReference` for cache the results since the path

[2015-12-13 04:19] zhanghai commented on #12
Yes, the setter is just missing as the framework did not give you this - the size of `ProgressBar` and the drawable is determined by some `minWidth` and `maxWidth` magic (see its `onMeasure()`), and I did not find a good way to change that programmtically. So it is not easy for you to reuse a `ProgressBar` both horizontally and circularly. This is also the reason why you still need a style from th

[2015-12-13 04:24] oliverhausler commented on #12
I didn't try to switch, but I tried instantiating progressBar from code, only when I need it, instead of loading it from XML.

`progressBar = new MaterialProgressBar(getContext());` works, but it is circular by default. When I try to do `new MaterialProgressBar(getContext(), null, R.style.CustomProgress)` [not sure if I can leave attrs = null] it crashes:

12-12 18:52:18.171 13423-13423/cc.closeup

[2015-12-13 04:28] oliverhausler commented on #12
oh, and something else that I also didn't find: I could set the background color from code, but not the foreground color. I tried to change the color while it's running [I am abusing it as progress bar for live video, which changes colors from grey to color dependent on the connect status].

[2015-12-13 04:30] oliverhausler commented on #12
"When I try to do new MaterialProgressBar(getContext(), null, R.style.CustomProgress) [not sure if I can leave attrs = null] it crashes:"

Style looks like this BTW:

[code]

[2015-12-13 04:32] zhanghai commented on #12
First of all you need an attribute (instead of style) resource (R.attr.*) for the third parameter, see `android.content.res.Resources.Theme#obtainStyledAttributes(AttributeSet, int[], int, int)` which says:

That exception is thrown if you have `app:mpb_progressStyle="circular"`  && (`android:indeterminate="false"` || `app:mpb_setBothDrawables="true"`).

Your style looks good, though. (**EDIT: Jus

[2015-12-13 04:38] oliverhausler commented on #12
Something of your markdown got lost in your previous post. Probably because you had `<>` in there which Github understands wrong.

[2015-12-13 04:40] zhanghai commented on #12
Please refresh the page - Chrome on Linux is giving me intermittent font rendering artifacts so sometimes I have to reload the page to discover something wrong.

[2015-12-13 04:40] oliverhausler commented on #12
now I see it, thanks

[2015-12-13 05:04] oliverhausler commented on #12
@DreaminginCodeZH Thanks for your help!

[2015-12-13 07:38] zhanghai commented on #12
You are welcome. Did you solve your problem? Do you still think that the performance needs to be optimized?

[2015-12-13 14:54] oliverhausler commented on #12
I went to bed cause it was late here. I'll get back to you in case I can't make it work.

Regarding performance, if it works on Android 5.0+ I would leave it. Not sure if we do further tests or just instantiate from code. I'll discuss today.

[2015-12-18 09:24] zhanghai commented on #12
Closing due to inactivity.

[2015-12-18 09:24] #12 closed, assigned to zhanghai

[2015-12-23 13:29] vihuela opened #15 "how change progress color?"

[2015-12-23 13:51] zhanghai commented on #15
As mentioned in README, you can use `app:mpb_tint` for color other than `?colorAccent`.

[2015-12-23 13:51] #15 closed, assigned to zhanghai

[2016-01-13 11:10] mfarid opened #16 "Unit Tests for improved test coverage"
Hi there,

My name is Farid. I'm a developer with great interest in making open source contributions to popular projects.

My company - DevFactory - is sponsoring me to improve unit test coverage in open source projects.

I have analyzed MaterialProgressBar and observed that there is room for improvement of coverage. The results indicate that the project does not have unit tests at the moment:

If

[2016-01-13 11:49] zhanghai commented on #16
Can you elaborate on how unit tests will help this library particularly?

The main sources of possible issues are crashing on different platforms/devices (as in #6, #7, #8), or the animation being visually incorrect (as in #1). And in my point of view all of them need some operational/system testing instead of unit testing.

So I'd like to know how will unit tests work for this library?

[2016-01-13 13:14] mfarid commented on #16
I have not analysed it from the perspective of these issues. I am targeting the unit tests in general. They will test the code to ensure that our code is calling the right set of methods with right parameters.

[2016-01-20 01:46] zhanghai commented on #16
Closing due to inactivity.

[2016-01-20 01:46] #16 closed, assigned to zhanghai

[2016-02-12 10:46] webmaster128 commented on #10
I am having this warning on Android 5.0.2 as well. Right now, I don't see any problems with it. It is just irritating.

I am running `me.zhanghai.android.materialprogressbar:library:1.1.4`.

[2016-02-14 02:26] kknono opened #17 "How to change color of the bar?"

[2016-02-14 02:56] zhanghai commented on #17
Duplicate of #15 .

[2016-02-14 02:56] #17 closed, assigned to zhanghai

[2016-03-16 05:10] raviteja83 opened #18 "not working below lollipop after updating support libs to 23.2.0 and greater"
I tested it on kikat.It is not throwing any error but it is not visible.I didn't enable vector.useSupportLibrary = true in build gradle file.My gradle plugin version 2.1.0-alpha2.

[2016-03-16 05:34] zhanghai commented on #18
Cannot reproduce with API 22 and support 23.2.1, please provide more detail.

[2016-03-19 00:57] zhanghai commented on #18
Cannot reproduce.

[2016-03-19 00:57] #18 closed, assigned to zhanghai

[2016-04-11 11:25] migelfn opened #19 "Rendering Problems"
These errors appears on layout preview/design view, is there a way to fix this?

[code]

[2016-04-11 11:46] zhanghai commented on #19
Reproduced. An "Invalidate cache and restart" did not work.

Personally I don't know why, may be a regression in Android Studio that styles from dependent libraries cannot be loaded?

But it works normally in production.

[2016-04-11 13:54] aat-antoine opened #20 "Remove vertical padding from horizontal ProgressBar"
Is there a way to keep material design and remove this useless padding in horizontal progress bar ?

[2016-04-11 14:34] zhanghai commented on #20
It's a feature of this library, as in README:

You can also check out the [sample activity layout](https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/master/sample/src/main/res/layout/main_activity.xml), and you'll find these lines:

[code]

Remove the show track line if you want the progress bar track.

[2016-04-11 14:40] aat-antoine commented on #20
Sorry, i had not read this part. Thx

[2016-04-11 14:40] #20 closed, assigned to zhanghai

[2016-04-11 14:40] jon-adams opened #21 "Android Studio 2.0 Preview render exception"
Since Android Studio 2.0, the progress bar throws an exception during rendering and blocks ALL of the views from showing in the preview (because of the exception).

(I think it has something to do with the animation code in the progress bar.)

`java.lang.IllegalArgumentException: object is not an instance of declaring class   at java.lang.reflect.Method.invoke(Method.java:606)   at android.animati

[2016-04-11 14:53] zhanghai commented on #21
Thank you for reporting this issue. I should use `View.isInEditMode()` for this. Will do it later.

[2016-04-12 06:53] zhanghai commented on #21
The sample is working properly in my Android Studio 2.0; Maybe it is because I've just updated my gradle plugin version. I'll publish a new version with updated dependencies now.

![2016-04-12 14-49-47](https://cloud.githubusercontent.com/assets/4469895/14452017/161b730a-00be-11e6-9421-4d01d2efdafe.png)

[2016-04-12 08:29] zhanghai commented on #21
Please try 1.1.6 version of this library; I cannot reproduce your exception due to #19 , but when viewed in the sample project of this project the preview is ok, so that issue should be a regression.

[2016-04-12 14:45] jon-adams commented on #21
Updating to v1.1.6 of the library fixed this rendering exception in Android Studio 2.0.

Thanks!

[2016-04-12 15:44] jon-adams commented on #21
Upon further investigation, maybe this issue isn't totally "fixed". I mean, the preview stopped breaking. (Though sometimes I had to invalidate the Android Studio cache and restart to get the exception to go away.)

However, I still see the following log message in the Warning level logcat output:

`W/PropertyValuesHolder: Method set() with type float not found on target class class me.zhanghai.an

[2016-04-12 15:50] zhanghai commented on #21
This is #10 ; I did not find out the reason, but it works normally. You can reopen that issue if you really want that one fixed.But it doesn't seem be related to this issue (because if so it shouldn't be introduced by updating Android Studio and fixed by updating gradle plugin.).

[2016-04-12 15:50] #21 closed, assigned to zhanghai

[2016-04-20 19:38] adamstyrc opened #22 "How to change color of progressbar"
There is one mention about changing color progressbar (indeterminate) color but it's that not clear. Could you explan it more ?

[2016-04-21 01:27] zhanghai commented on #22
Use android:tint .

[2016-04-21 07:08] #22 closed, assigned to zhanghai

[2016-05-07 14:29] robertdxyz opened #23 "Android Studio preview"
This works

[code]

this doesn't

[code]

Basically only the horizontal progress bar preview works.

[code]

Similar to #21

[2016-05-07 14:57] robertdxyz commented on #23
Adding

[code]

at the beginning of init seems to solve the issue.

[2016-05-07 17:09] zhanghai commented on #23
You shouldn't use mpb_progressStyle="horizontal" if you specify the style to be a circular one, in your second code fragment. See the sample app's main activity layout xml for detail.

[2016-05-07 17:23] robertdxyz commented on #23
Even if I remove that it is still not working

[2016-05-22 16:22] Nolanus opened #24 "Determinate circular drawable is not yet supported"
Are there any plans of adding determinate circular progress indicator?

[2016-05-23 01:08] zhanghai commented on #24
Well, framework did not have the circular determinate progess drawable, and the spec of Material Design has only given one example on animating the indeterminate one to completion. In application It is not often seen in Material Designed apps as well. So I did not implement it.

If you have any thought on why it should be added, please write it down here.

[2016-05-25 19:55] squeeish commented on #21
Still having this issue in Android Studio 2.1.1

`
java.lang.IllegalArgumentException: object is not an instance of declaring class   at java.lang.reflect.Method.invoke(Method.java:483)   at

lines removed for brevity

me.zhanghai.android.materialprogressbar.IndeterminateProgressDrawableBase.stop   ... (IndeterminateProgressDrawableBase.java:65)   at me.zhanghai.android.materialprogressbar.Indeter

[2016-06-02 09:09] karthisammannan opened #26 "how to change the progressbar color programmatically?"
There is only option to change progress bar color using android:tinit="#0000".but i want to change through programmatically in runtime using java.

[2016-06-02 10:25] zhanghai commented on #26
Use `MaterialProgressBar.setProgressTintMode()`.

[2016-06-02 10:26] #26 closed, assigned to zhanghai

[2016-06-04 17:14] Nolanus commented on #23
Similar stacktrace for me:

[code]

Similar happens when I set the visibility to "gone" in xml, which I do quite often to hide the spinner and show it as soon as required:

[code]

My usage:

[code]

Everything works as expected on the android device. However when developing it is rather annoying as you can not see your xml preview without commenting out the spinner xml all the time.
Maybe you can

[2016-06-08 13:25] Ribesg opened #27 "Library does not support programmatic usage"
I'm not using XML for layouts in my Android project, and I simply can't use this lib at all.

You can't create a circular `MaterialProgressBar`, it just crashes saying determinate cirular progress bar isn't supported. But you can't set the determinate state before creating the object.

[2016-06-08 13:39] Ribesg commented on #27
It looks like if you create a MaterialProgressBar without passing the `PROGRESS_STYLE_CIRCULAR` style, it actually creates an indeterminate circular progress... Weird behaviour, but it works.

[2016-06-08 13:48] Ribesg commented on #27
Well I still don't get it. I can't create an horizontal progress bar now. Why doesn't this work?

[code]

[2016-06-23 08:48] gnawf opened #28 "Use intrinsic padding attr is only applied to one drawable"
If you have `mpb_setBothDrawables` set to true, `mpb_useIntrinsicPadding` is only applied to one drawable i.e. the active drawable from `MaterialProgressBar.getDrawable()`

Relevant code https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/master/library/src/main/java/me/zhanghai/android/materialprogressbar/MaterialProgressBar.java#L96-L106

[2016-06-27 06:39] #28 closed, assigned to nobody

[2016-06-27 06:40] zhanghai commented on #28
Thanks! I've been really busy with my finals these days, sorry for the delay.

[2016-06-27 06:44] zhanghai commented on #27
If you want to create a Material Design ProgressBar programmatically, you can use a regular framework `ProgressBar` and call `setProgressDrawable(new ...Drawable())` on it; or you can create a layout file and inflate it. The `MaterialProgressBar` widget is intended as a shortcut in layout files.

[2016-06-27 06:44] #27 closed, assigned to zhanghai

[2016-06-27 06:47] zhanghai opened #29 "New release"
- [x] Fix #28.
- [x] Update Android build tools, etc.
- [x] Fix #33.
- [x] Fix #30.

When I have the time.

[2016-06-30 13:36] rpgdev opened #30 "Big indeterminate (circular) Progress Bar looks blurry"
Not sure if this is an issue or expected behaviour of android resource management but the big indeterminate (circular) Progress Bar looks blurry on android 4.2.2 (768x1280, 320dpi).

It may not be very noticeable in screenshot but here it is: [http://i.imgur.com/LRP6jlO.png](http://i.imgur.com/LRP6jlO.png) it's definitely noticeable on runtime.

[2016-07-04 12:40] zhanghai commented on #30
Cannot reproduce.

Does this happend on AVDs, or real devices, or both? Is this bug specific to some Android version?

[2016-07-04 13:00] rpgdev commented on #30
It's a genymotion Nexus 4 AVD using the sample app.

[2016-07-04 13:01] zhanghai commented on #30
Does this happen on any real devices? or other Android versions?

[2016-07-04 13:05] rpgdev commented on #30
I don't see it on other AVDs maybe because resolution is bigger. I'll try on a real device later today and report back.

[2016-07-04 22:10] rpgdev commented on #30
Issue is present on a real device too. Samsung galaxy s4 mini GT-9195. Screenshot: [http://i.imgur.com/xWq88kF.png](http://i.imgur.com/xWq88kF.png)

Seems like a resource type is missing or something.

[2016-07-05 08:34] zhanghai commented on #30
That's really strange, you know this library draws with canvas commands instead of bitmaps. And you can see in the picture the edge of the horizontal progress bar is clear which is also drawn on canvas. I have no idea why this happens and I cannot reproduce it on my AVDs and real device.

[2016-07-05 11:11] rpgdev commented on #30
Yes, the others look fine except the big indeterminate circular progress bar. Even in the screenshot it looks like the wrong resource it's being displayed there.

[2016-07-13 08:45] zhanghai commented on #30
Cannot reproduce, not going to make it into the upcoming release.

[2016-07-13 11:26] rpgdev commented on #30
Do you use genymotion? It's free you could use it to create the same AVD I use and see if it can be reproduced there. Even though I could also reproduce it on a real device it's weird that you can't.

[2016-07-13 16:08] zhanghai commented on #30
No I don't use genymotion; and the bug seems weird to me because it only happens under certain conditions and the library is drawing with canvas commands which should not be rasterized like that.

Do you have any thought on what could be the cause of this bug? Or what exactly is the condition for reproducing this bug?

[2016-07-13 16:28] tomdega commented on #30
I was able to pinpoint the problem and reproduce it using genymotion. Take a look at my commit.

[2016-07-13 17:37] tomdega opened #33 "HorizontalProgressBar Right-to-Left doesn't work"
RTL doesn't work, add:

[code]

to main_activity.xml and the progress bar will act the same as the LTR progress bar:

![rtl](https://cloud.githubusercontent.com/assets/10662127/16813004/597d57a4-4938-11e6-90bd-2ee9f67bdfae.gif)

I'm actually working on a solution, but:

[code]

needs a rewrite.
It can never be right because this library is targeting api 14 as the min sdk version, but LayoutDirecti

[2016-07-13 17:39] tomdega commented on #29
I think #33 is mandatory and should be added to the upcoming release.

[2016-07-13 17:47] rpgdev commented on #30
@DreaminginCodeZH I haven't done anything at all, it just shows up on the sample app. I haven't looked into what could be the cause however @tomdega's commit has fixed it :) I tested on the genymotion AVD and real device and the issue isn't present. You should consider merging it before the next release.

[2016-07-14 04:12] zhanghai commented on #33
I'm not going to backport RTL support because at API level < 17 the whole platform itself won't support RTL.

I've investigated a bit why RTL doesn't work on API level >= 17, and the reason is that [the ProgressBar itself does the mirroring if RTL is enabled](https://android.googlesource.com/platform/frameworks/base/+/9498e8a8d2deb7b0a2e964d5d3c5d3b8747610e9/core/java/android/widget/ProgressBar.ja

[2016-07-14 04:14] #33 closed, assigned to zhanghai

[2016-07-14 04:34] zhanghai commented on #30
Aha, thanks @tomdega, I've got to the issue.

https://developer.android.com/guide/topics/graphics/hardware-accel.html#scaling

In our case `Canvas.drawArc` falls into the "Simple shape" category and got fixed on API 17. I'm looking into a proper fix (whether to use `View.setLayerType()` or try a fix similar to http://stackoverflow.com/a/16110530/2420519).

[2016-07-14 04:44] zhanghai commented on #30
Scaling manually requires much logic change and is difficult to maintain, and since this is only a backport, I'm going the `View.setLayerType()` way. Now trying to figure out where to add it.

[2016-07-14 06:23] zhanghai commented on #30
@rpgdev

Could you please test the current sample app on API 16 (4.1), 17 (4.2), 18 (4.3) and 19 (4.4) and report on which platforms the circular progress bar draws properly?

The docs says scaling for `Canvas.drawArc()` is ok on API 17 but according to your issue content this is not the case (you are running 4.2.2 which is 17). This can be resulted from the library's calling `setStrokeJoin()` (be

[2016-07-14 06:57] tomdega commented on #30
I'll make the test, will update soon.

UPDATE:
16:
![16](https://cloud.githubusercontent.com/assets/10662127/16830948/cb5f805a-49aa-11e6-9b3a-8bf17b245bba.png)

17:
![17](https://cloud.githubusercontent.com/assets/10662127/16830956/d2908c8e-49aa-11e6-820d-295134e10168.png)

18:
![18](https://cloud.githubusercontent.com/assets/10662127/16830960/d5897dc4-49aa-11e6-8234-cbe1c3de984e.png)

19:
![19](h

[2016-07-14 07:22] tomdega commented on #33
I think that if the library is targeting min sdk 14 it'll be good if backport rtl support will be available.
![screen shot 2016-07-14 at 10 12 03 am](https://cloud.githubusercontent.com/assets/10662127/16831119/d62d64ba-49ab-11e6-9671-97c7c63f93e9.png)
A lot of rtl (arabic, hebrew etc) projects are targeting low api so they won't lose these 8.7% devices, I personally work on a project that has api

[2016-07-14 07:25] #30 closed, assigned to zhanghai

[2016-07-14 07:26] zhanghai commented on #30
@tomdega @rpgdev Thank you very much!

[2016-07-14 07:52] zhanghai commented on #29
v1.1.7 released, will be available on maven central within an hour.

[2016-07-14 07:52] #29 closed, assigned to zhanghai

[2016-07-14 08:02] zhanghai commented on #33
Maybe you should backport RTL on [`ProgressBar`](https://android.googlesource.com/platform/frameworks/base/+/9498e8a8d2deb7b0a2e964d5d3c5d3b8747610e9/core/java/android/widget/ProgressBar.java#1691) instead. For example backporting `rtlpb_mirrorForRtl` and overriding `onDraw()`. That would be another nice little project.

[2016-07-14 08:15] zhanghai commented on #23
As #31 has been merged I assume this is fixed in v1.1.7.

[2016-07-14 08:15] #23 closed, assigned to nobody

[2016-07-14 11:00] rpgdev commented on #30
Thank you so much guys!

[2016-07-19 15:50] rpgdev commented on #10
I know this is closed but I'm having this on Android 5.1.0 too:
 W/PropertyValuesHolder: Method set() with type float not found on target class class me.zhanghai.android.materialprogressbar.IndeterminateHorizontalProgressDrawable$RectTransformX

It's just a warning and the progressbar works fine but it's annoying. Is there a way to workaround it so that the warning doesn't show?

[2016-07-19 16:29] zhanghai commented on #10
I guess it should be coming from [`ObjectAnimatorCompat.ofFloat(target, null, "scaleX", PATH_INDETERMINATE_HORIZONTAL_RECT1_SCALE_X);`](https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/9ae635a4964c5a68dd3d29b0f60b5da5469d9282/library/src/main/java/me/zhanghai/android/materialprogressbar/Animators.java#85), which called with a propertyName of `null` and thus the `set()` call.

But I don

[2016-07-20 08:15] shaDowPark opened #37 "怎么设置不同的颜色"
style里的颜色是写死拿主题颜色的嘛

[2016-07-20 08:34] #37 closed, assigned to nobody

[2016-08-05 16:41] dabitdev opened #38 "ProgressBar and Indeterminate Horizontal one don't work in Samsung S6 (5.1.1)"
The ProgressBars is not being rendered and the animation of the Indeterminate ProgressBars is  not being shown in Samsung S6 (SM-G925W8) using Lollipop 5.1.1.
Check the sample app screenshot:

![device-2016-08-05-123851](https://cloud.githubusercontent.com/assets/142539/17443654/ce4a9fd2-5b09-11e6-91ae-9e72b4382a1e.png)

[2016-08-05 16:59] dabitdev commented on #38
well this is a shame for Samsung... not even Youtube progressBar work.

[2016-08-06 00:19] zhanghai commented on #38
If the native progress bar isn't animating, maybe you have turned odf Animators - For example disabling UI animations, or power save mode.

[2016-08-08 13:44] wrozwad opened #39 "start and stop indeterminate progress on demand"
Is there a possibility to show MaterialProgressBar without starting indeterminate progress bar and to start and stop it on demand?

[2016-08-08 13:46] zhanghai commented on #39
Maybe you mean toggling between `View.INVISIBLE` and `View.VISIBLE`? Or  some alpha animation?

[2016-08-08 17:54] wrozwad commented on #39
Of course it's not a problem to use setVisibility or something like that. I just like to make "awesome looking app" so it'll be great if I can manually start indeterminate animation eg. with 1000 ms delay. Stop animation (eg. by dynamically change width of progress) will be just a nice addon.

[2016-08-09 01:56] zhanghai commented on #39
You can call `Animatable.start()` and `Animatable.stop()` for drawables implementing `Animatable`. `ProgressBar` calls `Animatable.start()` automatically so you have to either delay setting the drawable or do some hacking.

[2016-08-24 07:53] hadifar opened #40 "Is it possible to change thickness of Progressbar ?"

[2016-08-24 11:53] zhanghai commented on #40
Changing progress thickness is against the Material Design guidelines, so I would strongly advice against it.

Technically speaking, changing thickness of the circular one is not so easy, while changing the horizontal one is possible.

[2016-08-24 11:56] hadifar commented on #40
Thanks for your fast reply.

[2016-08-24 11:56] #40 closed, assigned to nobody

[2016-08-25 20:07] hormesiel opened #41 "visibility="invisible" does nothing / no progress animation when visible"
I've tried using this lib in two different projects, one is on google play and the other one was just a test project to confirm the problems I had in the former.

1) First problem is that setting the progress bar's visibility to `invisible` does nothing, the progress bar is still as visible as if I set it to `visible`. `gone` works, but I just want to be able to hide/show it without "disturbing" t

[2016-08-26 01:50] zhanghai commented on #41
Cannot reproduce the visibility problem - If I set `android:visibility="invisible"` on the `MaterialProgressBar`s of the sample app, they are successfully hidden. See screenshot.

![2016-08-26 09-47-20](https://cloud.githubusercontent.com/assets/4469895/17991549/4368a778-6b72-11e6-9c89-0e9e84b377e2.png)

As for the intermidate progress bar, please check out the README or the sample app. I noticed

[2016-08-26 17:28] hormesiel commented on #41
It works now that I've added the missing `style` XML attribute. Both problems are solved. Thanks for your reactivity!

[2016-08-26 17:28] #41 closed, assigned to zhanghai

[2016-09-02 13:08] royale1223 opened #42 "Option to remove padding from ProgressBar"
There is no option to remove padding from ProgressBar. It will be very helpful.

[2016-09-02 13:21] zhanghai commented on #42
From README.md:

[2016-09-02 13:28] #39 closed, assigned to zhanghai

[2016-09-02 13:29] zhanghai commented on #38
Closing due to inactivity.

[2016-09-02 13:29] #38 closed, assigned to zhanghai

[2016-09-16 09:50] raviteja83 opened #43 "is it possible to increase the height of horizontal progressbar?"

[2016-09-16 09:51] #42 closed, assigned to zhanghai

[2016-09-16 10:00] zhanghai commented on #43
First of all, I would strongly advise against the change, because it is against the Material Design guidelines.

---

It's a general ProgressBar hack: set both android:minHeight and android:maxHeight to the value you want.

[2016-09-16 10:00] #43 closed, assigned to zhanghai

[2016-10-14 08:38] prog110 opened #44 "Skipped frames"
When the loading bar is displayed on the screen for long, Choreographer informs that there are a lot of frames that are skipped

You see a log entry like this

`I/Choreographer: Skipped 126 frames!  The application may be doing too much work on its main thread.`

This happens only on screens where I display material progress bar

[2016-10-20 13:44] zhanghai commented on #44
Any conditions to reproduce it? Didn't see this with the sample app.

[2016-10-20 17:48] ejohansson opened #45 "Could not find me.zhanghai.android.materialprogressbar"
Error: Could not find me.zhanghai.android.materialprogressbar:library:1.2.0.
Required by:
<a href="searchInBuildFiles">Search in build.gradle files</a>

[2016-10-21 01:49] zhanghai commented on #45
Sorry for the inconvenience, forgot to close and release on Sonatype last night. Should be available within half an hour now.

[2016-10-21 02:02] ejohansson commented on #45
No worries, thanks for the update.  👍

[2016-10-21 02:15] zhanghai commented on #45
Available on Maven Central now.

[2016-10-21 02:15] #45 closed, assigned to zhanghai

[2016-10-21 23:02] mjanulaitis opened #46 "Unable to databind to tint properties"
I am using databinding and am unable to bind to the tint properties.  When I return color as an int I get a databinding error.  How can I bind?

[2016-10-22 01:37] zhanghai commented on #46
I've never used data binding, and I don't know what the error you got is. BTW there is only `set{Progress,...}TintList()` which takes a `ColorStateList` in `ProgressBar` now.

[2016-11-22 02:55] zhanghai commented on #46
Closing due to inactivity.

[2016-11-22 02:55] #46 closed, assigned to zhanghai

[2016-12-29 05:01] nikil07 commented on #1
For anyone coming here for the same issue, as indeterminate progress bar not being shown or visible.
I faced the same and spend a lot of time over, then I realized that the "Animation scale" in developer options was turned off.

Might help someone.

[2017-01-05 09:17] consp1racy opened #47 "Crash on Samsung S4 mini"
[code]

Maybe using `TintTypedArray` in `ThemeUtils` will help.

[2017-01-05 09:21] consp1racy commented on #47
It didn't. This is library agnostic, sorry to bother you.

[2017-01-05 09:21] #47 closed, assigned to nobody

[2017-01-29 17:36] smaznet commented on #19
i used 1 instead `horizontal`
in my xml

[code]

[2017-02-06 10:50] #44 closed, assigned to zhanghai

[2017-02-06 10:57] zhanghai opened #49 "AnimationScaleListDrawable and progress_static_material.xml"
They are present in API 25 for animation scale of 0, such as when battery saver is turned on. Should do a compat implementation here.

Note that the framework drawable is still kinda weird so maybe another shape should be considered.

![progress_static_material xml](https://cloud.githubusercontent.com/assets/4469895/22644536/00ca4180-ec9e-11e6-9475-14935c29e846.png)

- [AnimationScaleListDrawable.

[2017-02-15 10:29] WilsonKifua opened #50 "Color"
How to customize the progress bar color

[2017-02-15 10:31] zhanghai commented on #50
Duplicate of #15

[2017-02-15 10:32] #50 closed, assigned to zhanghai

[2017-02-24 17:29] zokipirlo commented on #24
[Here is a circular determinate progress specification](https://material.io/guidelines/components/progress-activity.html#progress-activity-types-of-indicators)

You can also see it in the "Fit" application for a progress through the day.

It's more pretty to put determinate progress in circular style when using it in grid layout.

[2017-03-27 19:24] webmaster128 commented on #24
@Nolanus @zokipirlo Could you have a look if #51 fits your needs?

[2017-03-28 22:19] rabw commented on #50
android:tint does not work for me, I'm making a circular progress bar if it makes any difference.

[2017-03-28 22:26] rabw commented on #50
OK, app:mpb_indeterminateTint working for me.

[2017-03-30 04:03] qssq666123 opened #52 "Color modification does not take effect"
Color modification does not take effect is still the default black, when I delete the Android studio after the preview display and also display the color, but the operation is still the same, the default black style

   <me.zhanghai.android.materialprogressbar.MaterialProgressBar
                    style="@style/Widget.MaterialProgressBar.ProgressBar.Large"
                    app:mpb_secondaryPr

[2017-03-30 04:04] qssq666123 commented on #52
我还以为你是外国人，好吧，直接说吧，就是无法修改颜色，我只想要一个类似progressbar,然后园进度转而已 结果呢，无法修改颜色，一直是黑色。无语死了

[2017-03-30 04:05] qssq666123 commented on #52
demo也跑不起来，因为黄牛刀项目一直没下载下来，愁死我了

[2017-03-30 04:50] zhanghai commented on #52
为你试了一下，

[code]

可以工作。

不行的话是你的项目的其他问题。例如你可以自己重新建立一个干净的项目试试上面这段。

[2017-03-30 04:50] #52 closed, assigned to zhanghai

[2017-03-30 04:58] zhanghai opened #53 "Switch to AnimatedVectorDrawableCompat?"
Support library's `AnimatedVectorDrawableCompat` seems good enough now.

Need to test whether it works, and whether its efficiency is good enough compared to current implementation.

[2017-03-30 05:26] qssq666123 commented on #52
是不是主题的问题？？被主题控制了？

[2017-03-30 05:26] qssq666123 commented on #52
你的demo我跑起来了可惜 里面的圆形进度也没提供修改颜色的参考

[2017-03-30 05:39] zhanghai commented on #52
设置了 mpb_indeterminateTint 就会覆盖主题颜色。你可以用之前我那段代码填进 sample 里。

[2017-03-30 09:52] WilsonKifua commented on #15
android:tint it worked for me.

[2017-03-30 09:55] zhanghai commented on #15
But won't work below L. Beware!

[2017-04-11 10:00] #24 closed, assigned to zhanghai

[2017-04-11 11:04] mihudevcom commented on #19
It seems to be working just fine with Android Studio 2.3.1. @DreaminginCodeZH can you confirm this?

[2017-04-11 14:55] zhanghai commented on #19
Yes I see no error now -- it is blank, but that's another enchancement to do. Thanks @mihudevcom!

[2017-04-11 14:55] #19 closed, assigned to zhanghai

[2017-04-11 14:57] zhanghai opened #54 "Better preview for indeterminate progress drawables"
Although rendering error is avoided, the widget shows up as blank now.

[2017-04-11 16:32] webmaster128 opened #55 "CircularProgressDrawable not public"
The updated README states that CircularProgressDrawable can be used directly from outside but the constuctor is not public. Thus I cannot integrate it into [dialogs-for-android](https://github.com/DialogsForAndroid/dialogs-for-android) the same way as it is done with the other drawables

[2017-04-11 16:38] #55 closed, assigned to zhanghai

[2017-04-11 16:39] zhanghai commented on #55
It is a mistake; I'll release a new version tomorrow -- it's over midnight now in my timezone :P

[2017-04-11 16:40] webmaster128 commented on #55
Thanks and good night :)

[2017-04-12 01:02] zhanghai commented on #55
Released v1.4.1; Kullo seems a beautiful app BTW, and thanks for you contribution again

[2017-04-13 22:02] webmaster128 commented on #24
Thanks again @DreaminginCodeZH for cleaning up my implementation and releasing this. I just wanted to let you know that I successfully integrated MaterialProgressBar 1.4.1 and the determinate circular progress indicator into two projects:

* [dialogs-for-android](https://github.com/DialogsForAndroid/dialogs-for-android) using Android's ProgressBar and MaterialProgressBar's drawables
* Kullo using

[2017-04-16 09:54] bobymicroby commented on #15
And how do you change it bellow L ?
P.S by code, not with xml

[2017-04-16 10:05] zhanghai commented on #15
In Java, simply calling set*Tint() will suffice, it is overridden; in XML, you should use app:mpb_tint.

[2017-04-16 10:41] bobymicroby commented on #15
Hmm..the method doesn't pop for   ```MaterialProgressBar alert_preloader;```
![screenshot from 2017-04-16 13-37-29](https://cloud.githubusercontent.com/assets/927575/25070540/1d922408-22aa-11e7-8054-554e692a583a.png)

[2017-04-16 10:43] zhanghai commented on #15
Well, I mean set*Tint() then, they affect primary, secondary and background progress, respectively.

[2017-04-16 10:48] bobymicroby commented on #15
Well..when i tried ```setProgressTintList``` i received the notification that it will not be tinted bellow L ...  All the set*Tint methods will give the same warning.

[2017-04-16 10:59] zhanghai commented on #15
That's another issue - the progress bar's current drawable is not one of the library's. Your code on creating the ProgressBar is needed to know why, but I strongly recommend you to use Inflator and XML for creating a MaterialProgressBar instance.

[2017-04-16 11:01] bobymicroby commented on #15
Trouble is that the color is  based on dynamic palette... and i want to reuse the MaterialProgressBar instances because everything is in recyclerviews... i will try to figure it out. Thanks for the help !

[2017-04-28 09:06] Gounlaf opened #57 "[Conflict] Bug when using another library (MateriaDialogs)"
Hi,

I'm using [Material Dialogs](https://github.com/afollestad/material-dialogs), a library that depends on MaterialProgressBar.

When using it, MaterialProgressBar "doesn't work": I using the Circular Progress with **determinate mode**, but it's always shown as **indeterminate**.

Even if I exclude the dependency, It doesn't work (below some config test).

[code]

[code]

I'm "stuck", don't know

[2017-04-28 09:27] zhanghai commented on #57
Please verify the actual version determined by gradle with "./gradlew dependencies"

[2017-04-28 09:33] Gounlaf commented on #57
Hi @DreaminginCodeZH,

It's as expected 1.4.1

[2017-04-30 17:39] Dan1ve opened #58 "ProgressBar has Gingerbread-style if not using indeterminate mode"
Hi,
I'm currently testing this library, and overall, it seems to work fine.
However, I run into an issue I could not resolve:
When I use the MaterialProgressBar on **Android 4.4** with an indeterminate style and later switch to a **determinate mode**  (indeterminate = false), the style of the ProgressBar gets a really weird look (Gingerbread?).

XML:

[code]

and then in code (under certain circum

[2017-04-30 18:36] Dan1ve commented on #58
I think I figured it out now:

[code]

Can you confirm this is the right way to handle changes of the indeterminate-mode at runtime?

Best,
Daniel

[2017-05-01 00:06] zhanghai commented on #58
Quoting READNE:

You need to set it to true if you need both of the drawables, and this is so-designed because each backported drawable has some runtime cost.

[2017-05-01 00:06] #58 closed, assigned to zhanghai

[2017-05-01 03:31] zhanghai commented on #57
Please include your layout / java code for setting uo the progress bar.

[2017-05-01 06:33] Dan1ve commented on #58
Even though I did read that section, its meaning wasn't 100% clear to me.
Thanks for clarifying! 👍

[2017-05-01 10:01] Gounlaf commented on #57
I will make a small project to show you :)

[2017-05-01 11:40] Gounlaf commented on #57
@DreaminginCodeZH I just forked and require materia-dialogs in the sample: https://github.com/Gounlaf/MaterialProgressBar/commit/c02cb6b4fd292b6e58459532802531238a242256

Below the output of `./gradlew sample:dependencies` (`me.zhanghai.android.materialprogressbar` is not in material-dialogs dependencies)

[code]

[2017-05-01 12:04] zhanghai commented on #57
Now had the time to take a closer look at the issue.

It seems like a `material-dialogs` issue -- it included [a duplicate](https://github.com/afollestad/material-dialogs/blob/master/core/src/main/res/values-v14/styles.xml) of some styles in `MaterialProgressBar`, so a modification to the style (namely `android:indeterminateOnly`) in order to make the determinate circular progress work is silently

[2017-05-01 16:06] Gounlaf commented on #57
Ok, thanks for your time!

[2017-05-01 16:42] zhanghai commented on #57
@Gounlaf  Please check if adding android:indeterminateOnly="false" can work around this issue for you. If so, we can close the issue here now.

[2017-05-02 09:01] Gounlaf commented on #57
@DreaminginCodeZH, adding `android:indeterminateOnly="false"` seems to works (at least in your sample; I will double-check on my project).

Good news: I saw that your fix has been merged in material-dialogs library :)

[2017-05-02 09:20] zhanghai commented on #57
Yeah, saw that as well 🎉

Closing as resolved.

[2017-05-02 09:20] #57 closed, assigned to zhanghai

[2017-05-28 01:18] farruxx commented on #15
I found that it is Androids issue, any other progress bars also cannot handle drawable changing correctly

[2017-06-11 17:29] leinardi opened #60 "colorControlActivated is not the default"
colorAccent is used instead of colorControlActivated:

![image](https://user-images.githubusercontent.com/273338/27013021-cff21aa6-4edb-11e7-8a38-815cb74c11d4.png)

Theme:
[code]

Layout:
[code]

Tested on emulator API 25 and 16.

[2017-06-11 18:40] zhanghai commented on #60
Strange. I found [no reference to `colorAccent` in code](https://github.com/DreaminginCodeZH/MaterialProgressBar/search?utf8=%E2%9C%93&q=colorAccent&type=Code).

Can you verify what happens if you explicitly set the `android:*` attributes to those values? I suspect it can probably be an AppCompat issue.

[2017-06-11 18:52] leinardi commented on #60
Hi, thanks for the quick reply.

I added these attributes for API21+:
[code]
but unfortunately nothing changes.

I just noticed something: when i switch to different themes at runtime the MaterialProgressBar stays the same color (green) even if I switch to a theme that as no green color at all.

I suspect that the green color that we see in the screenshot is the colorControlActivated of the defaul

[2017-06-12 10:46] zhanghai commented on #60
Then it would need some debugging - check if the color retreived from `colorControlActivated` is correct, at [here](https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/master/library/src/main/java/me/zhanghai/android/materialprogressbar/BaseIndeterminateProgressDrawable.java#L24) and [here](https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/master/library/src/main/java/me/zhangh

[2017-06-12 11:24] leinardi commented on #60
Sure. I've checked and the retrieved color is the wrong one.

I also tried in my Activity, between the `setTheme` and the `setContentView`, using the same code that is used in the classes that you suggested to test (` ThemeUtils.getColorFromAttrRes(R.attr.colorControlActivated, Color.BLACK, this)`) and the value retrieved is the right one: -6543440 (ff9c27b0)

But when `setContentView` is called a

[2017-06-14 05:20] zhanghai commented on #60
So maybe there is some magic inserted into `LayoutInflator` by AppCompat; But the framework widget seemed correct. Can you check `ThemeUtils.getColorFromAttrRes(android.R.attr.colorControlActivated, Color.BLACK, context)` on the `Context` passed to `MaterialProgressBar`?

[2017-06-14 10:30] leinardi commented on #60
Sorry probably I'm not getting what are asking me to test because, like I said in my previous comment, I've already checked the context that MaterialProgressBar is getting in the constructor and I'm getting the wrong color also there.

Let me know if you want me to test something else.

[2017-06-14 10:39] zhanghai commented on #60
Well I mean **android**.R.attr.

[2017-06-14 11:18] leinardi commented on #60
Sorry, I did notice the **android** change.

Anyway tested and is still getting the wrong color.

[2017-06-14 12:30] zhanghai commented on #60
Strange - how did framework `ProgressBar` get the correct color?

Another question: Did you put the `setTheme()` call before `super.onCreate()`? It is required if you want theme switching to function properly.

[2017-06-14 14:25] leinardi commented on #60
Yep, it is before:

[code]

[2017-06-14 14:29] zhanghai commented on #60
What happens if you change your default theme's `colorControlActivated` to something different from your `colorAccent` and stop switching themes?

If the behavior is correct, it should be some theme switching bug.

[2017-06-14 15:22] leinardi commented on #60
I commented the `setTheme()` and the MaterialProgressBar is green:

![device-2017-06-14-171705](https://user-images.githubusercontent.com/273338/27140314-82e62ab2-5125-11e7-8fb4-012ecde75828.png)

But if I define the `colorControlActivated ` then the color works fine:
![device-2017-06-14-172030](https://user-images.githubusercontent.com/273338/27140482-ef2607a6-5125-11e7-964a-f286f51130d9.png)

Th

[2017-06-20 08:41] zhanghai commented on #60
Sorry for the delay.

Why did `MaterialProgressBar` in the first screenshot show a green color? You mentioned that `setTheme()` is commented out so I assume it should be the same as framework `ProgressBar`. What did you have in theme in that case?

[2017-07-03 16:25] ursusursus opened #61 "Add ability to change circular progressbar width"
Hi, please add this option , I am making a button with icon in center and circular progressbar around it, and it visually looks bad when progressbar is different width than lines in icon. Afaik I can tell you scale the cancas with width, but Id like to set fixed width

[2017-07-04 08:40] zhanghai commented on #61
If you mean the stroke width, sorry but this is against the Material Design guidelines so it won't be implemented here.

But just FYI, you can always copy the implementation and change the value in [BaseSingleCircularProgressDrawable](https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/master/library/src/main/java/me/zhanghai/android/materialprogressbar/BaseSingleCircularProgressDrawable.

[2017-07-04 08:40] #61 closed, assigned to zhanghai

[2017-07-04 08:58] ursusursus commented on #61
Google Play uses this. Maybe consider the class to be more easily extended rather than code copying. Now as I see it, I have to extend BaseProgressLayerDrawable, which takes the drawable array as ctor argument, so thereforce I have to copy BaseSingleCircularProgressDrawable, SingleCircularProgressDrawable, CircularProgressBackgroundDrawable and same goes for extending IndeterminateHorizontalProgre

[2017-07-04 09:01] ursusursus commented on #61
![2017-07-04 08 43 55](https://user-images.githubusercontent.com/1503402/27823094-33bb9fa2-60a8-11e7-8b5a-1574ae1d095f.png)
![2017-07-04 08 45 34](https://user-images.githubusercontent.com/1503402/27823058-134a0a4c-60a8-11e7-953a-0c2ba4c4505c.png)

[2017-07-04 09:25] ursusursus commented on #61
and BaseIndeterminateProgressDrawable is package private so yeah this is not feasibly right now

[2017-07-04 09:27] zhanghai commented on #61
You can always drop your class into package of this library, a hack popular with support libraries.

[2017-07-04 09:28] ursusursus commented on #61
I know, but I feel it should be a feature of the library, see Google uses it, you can deviate from guidelines when there is a purpose

[2017-08-09 14:03] rdadkins opened #62 "setBothDrawables=true renders black background on API 19"
Here is my current configuration:
[code]
On API 19, it renders as follows:
![](http://i.imgur.com/0XNHzEg.png)

And on API 24, it renders as expected:
![](http://i.imgur.com/xDjyd53.png)

When just using either indeterminate or determinate mode, everything renders as expected. Only when `mpb_setBothDrawables` is `true`, it renders black on 19.

[2017-08-09 15:28] rdadkins commented on #62
This actually seems to hold true for a regular horizontal progress bar on 19. If any tinting is applied , the background is completely black. Indeterminate bars render as expected.

[2017-08-09 15:34] rdadkins commented on #62
It actually appears that the determinate tinted examples provided by the library are _over_ tinted. The third determinate progress bar's background color is a very dark red, not black. The second one, however, is black.

![](http://i.imgur.com/NbxU9fo.png)

[2017-08-10 12:01] zhanghai commented on #62
Strange. Which ROM are you using? Can this be reproduced with an API 19 Android emulator?

What do you mean by "regular"? Does framework `ProgressBar` work?

[2017-08-10 12:24] rdadkins commented on #62
I meant "regular" as a library provided horizontal bar without tinting (i.e. the second in the sample project), not framework. The framework bar looks fine

The original statement `If any tinting is applied, the background is completely black` is now misleading. The secondary and background tinting seem to have a really high alpha applied to them which is noted by the third bar in the sample provi

[2017-08-14 09:56] instioDeveloper opened #63 "Upgrade versions"
Need to update gradle,buildtools, dependencies and support libraries to latest version
buildtools to 26.0.1
gradlle to 3.0.0-beta2

[2017-08-20 08:30] zhanghai commented on #63
Will be done before next release.

[2017-08-20 08:30] #63 closed, assigned to zhanghai

[2017-09-02 19:13] zhanghai commented on #62
Bisected to cf059b0c24ba3519ac4b8b57930b1a5c599b6bb2 . Strange, still investigating.

[2017-09-02 22:31] zhanghai commented on #62
Found out it's a bug of `ColorFilter` with alpha in color which is resulting in the black, and it can be workarounded by turning on software layer rendering. Released in v1.4.2.

[2017-09-02 22:31] #62 closed, assigned to nobody

[2017-09-02 22:55] zhanghai commented on #53
Maybe we don't need that - maintaining two mechanisms and slowing down the drawing process.

[2017-09-02 22:55] #53 closed, assigned to zhanghai

[2017-09-06 12:35] rdadkins commented on #62
Works as expected, thank you for updating!

[2017-10-19 13:49] adamvarhegyi opened #65 "Gradle error when trying to import the lib"
[code]

I have installed v7:26.0.2, still not works.

Any advice?

Gradle dependencies:

[code]

[2017-10-19 19:19] zhanghai commented on #65
What do you mean by "installed v7:26.0.2"? Support libraries >= 26.0.0 has the following release note:

[2017-10-27 08:01] cv0cv0 opened #66 "这个不是系统自带吗?"
系统默认样式不就是这个吗?

[2017-10-27 17:21] zhanghai commented on #66
Please read README before creating issues.

[2017-10-27 17:21] #66 closed, assigned to zhanghai

[2017-11-20 22:57] tcqq opened #67 "Feedback MaterialProgressBar problem"
Hello thank you for you library, Now I want to change the MaterialProgressBar color with the code, but I did not try to succeed. Could you give an example? Thank you @DreaminginCodeZH

[2017-11-20 23:08] tcqq commented on #67
I want set int format the color how should I do?

[2017-11-20 23:36] zhanghai commented on #67
Use MaterialProgressBar.setProgressTint, setSecondaryProgressTint and setProgressBackgroundTint. Also make sure the type of your variable for the progress bar is MaterialProgressBar instead of ProgressBar, or your app will crash on lower API levels (framework methods are missing).

[2017-11-20 23:36] #67 closed, assigned to nobody

[2017-11-21 01:37] tcqq commented on #67
I tried, but did not succeed, how should I modify?

            materialProgressBar.setProgressTintList(ColorStateList.valueOf(ContextCompat.getColor(getContext(), R.color.red)));
            materialProgressBar.setSecondaryProgressTintList(ColorStateList.valueOf(ContextCompat.getColor(getContext(), R.color.red)));
            materialProgressBar.setProgressBackgroundTintList(ColorStateList.valueO

[2017-11-21 01:39] tcqq commented on #67
MaterialProgressBar not got setProgressTint、setSecondaryProgressTint and setProgressBackgroundTint

[2017-11-21 04:57] zhanghai commented on #67
Ah yes I meant `set*TintList()`, `set*Tint()` is not included in the framework `ProgresssBar` API so not backported as well.

You code above should work, I tested it in sample and it worked.

[2017-11-21 05:21] zhanghai commented on #67
One more note. If you are using indeterminate mode, use `setIndeterminateTintList()` instead.

[2017-11-21 05:59] zhanghai commented on #65
Closing due to inactivity.

[2017-11-21 05:59] #65 closed, assigned to nobody

[2017-11-21 10:03] tcqq commented on #67
Thankyou, setIndeterminateTintList worked

[2017-11-23 19:36] ngerakam opened #68 "do tell"
Caused by: java.lang.ClassCastException: android.support.design.widget.TextInputEditText cannot be cast to android.support.design.widget.TextInputLayout

[2017-11-23 20:07] zhanghai commented on #68
Don't know what this issue means. And this library has nothing to do with EditText or TextInputLayout.

[2017-11-23 20:07] #68 closed, assigned to zhanghai

[2017-12-01 21:01] felixdivo opened #69 "android.support.v4.content.FileProvider"
There is a problem with this library and some file provider. I get the following error when I declare a provider by myself:

[code]

Also see [this](https://stackoverflow.com/questions/42893846/androidmanifest-merge-error-using-fileprovider).

[2017-12-01 21:06] michaeltnguyen commented on #69
That is not from this library.  There's no file provider in the manifest.  https://github.com/DreaminginCodeZH/MaterialProgressBar/blob/master/library/src/main/AndroidManifest.xml

You can use manifest merger tags (`tools:replace="android:authorities"`) on your FileProvider, or simply give it a name in your own namespace.

[2017-12-01 21:07] zhanghai commented on #69
Thank you @michaeltnguyen !

[2017-12-01 21:07] #69 closed, assigned to zhanghai

[2017-12-01 21:13] felixdivo commented on #69
Okay, I did the second thing. Sorry for bothering you. I thought it was your Manifest that was shown in the logs but well, apparently it wasn't. ;)

[2017-12-06 10:33] thirdparty-core opened #70 "颜色主题怎么设置?"
大神,进度条的颜色怎么设置?

[2017-12-06 20:45] zhanghai commented on #70
Please read README before posting.

[2017-12-06 20:45] #70 closed, assigned to zhanghai

[2017-12-13 10:06] smelfungus opened #71 "[Enhancement] Permanently spinning determinate circular progress"
Hi there! Thank you for great library.
It would be very nice to implement one more determinateCircularProgressStyle with always spinning ring with gap decreasing its size with progress.
In current implementation animation just stops when reaching target progress, the idea is to have continuous spinning.
Does it violate Material Design principles?

[2017-12-14 00:06] zhanghai commented on #71
Not to say it's a violation, but it is simply not inside the guidelines, and issues remain such as how fast the ring should spin (Can you get a sensible value from the guidelines of another style?). You may need to roll your own implementation in this case, and a PR is welcomed.

[2018-01-02 11:22] trycatchx opened #72 "mpb_progressBackgroundTint no work ？"
I am using follow code,and i set `mpb_progressBackgroundTint `to black . and it no work for me?
[code]

[2018-01-02 18:11] zhanghai commented on #72
Yes, this is by design because it's the behavior of framework `ProgressBar` — You can only have one tint that applies to the whole drawable when indeterminate (which is `android:indeterminateTint`), and the implementation of an indeterminate drawable is also not a `LayerDrawable` (unlike the case of a progress drawable, which is also the framework behavior), making it even harder to do so. Do you

[2018-01-03 02:21] trycatchx commented on #72
@DreaminginCodeZH thx !  It's not necessary, i set `mpb_showProgressBackground = “false” ` to fulfil my requirements. however， if i want to set a different tint for progress backgrouond really ,what should i do?

[2018-01-03 02:52] zhanghai commented on #72
You'll need to modify the indeterminate drawable to accept another tint for progress background, and expose that (by getting the drawable instance and setting it, or exposing it on MaterialProgressBar)

[2018-01-03 02:56] trycatchx commented on #72
@DreaminginCodeZH  thx !  i got it .

[2018-01-03 02:58] #72 closed, assigned to nobody

[2018-01-07 14:35] wkq87 opened #73 "cannot find class"
Here is crash log:
`java.lang.RuntimeException:Unable to start activity ComponentInfo{com.sloar.music/com.kabouzeid.gramophone.ui.activities.MainActivity}: android.view.InflateException: Binary XML file line #68: Error inflating class me.zhanghai.android.materialprogressbar.MaterialProgressBar`

And the device info is below
Android version: Android 4.1.1,level 16   ROM:Samsung/full   CPU:armeabi-v

[2018-01-08 03:19] zhanghai commented on #73
More stacktrace is needed; This only tells us that some exception was thrown by someone during instantiating a MaterialProgressBar instance.

[2018-01-21 16:21] Sky24n opened #74 "How to be compatible with my local version:25.0.2."
Error:Could not find com.android.support:appcompat-v7:26.0.2.
Required by:
    project :base
Please install the Android Support Repository from the Android SDK Manager.
<a href="openAndroidSdkManager">Open Android SDK Manager</a>

[2018-01-21 19:12] zhanghai commented on #74
[code]

[2018-01-22 02:48] Sky24n commented on #74
Error:Supplied String module notation 'me.zhanghai.android.materialprogressbar' is invalid. Example notations: 'org.gradle:gradle-core:2.2', 'org.mockito:mockito-core:1.9.5:javadoc'.

[2018-01-22 02:57] Sky24n commented on #74
This is local build：
android {
    compileSdkVersion 25
    buildToolsVersion "25.0.2"

    defaultConfig {
        minSdkVersion 15
        targetSdkVersion 25
        versionCode 1
        versionName "1.0"
    }
}
dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    compile 'com.android.support:appcompat-v7:25.3.1'
    compile 'com.android.support:recyclerview-v7:25.3.1'
}

[2018-01-22 05:54] zhanghai commented on #74
Are you building this project locally, or using this library as a dependency? (Because I saw no materialprogressbar in your build.gradle) If you mean the latter one, try this:

[code]

The basic idea is to exclude the transitive dependency with new version pulled in by this library, and supply older version manually.

[2018-01-22 06:45] Sky24n commented on #74
All right，Thank you very much.

[2018-01-22 06:46] #74 closed, assigned to zhanghai

[2018-04-16 13:25] netzverb opened #75 "Couldn't find setter/getter for property null with value type float"
I'm getting the following error on Nexus virtual device with API Level 15:

[code]

My configuration:

`
implementation 'me.zhanghai.android.materialprogressbar:library:1.4.2'
`
[code]

My AVD:

[code]

[2018-04-16 18:01] zhanghai commented on #75
This warning seems harmless - if you found any bug related to this, or why this warning is issued, I'm happy to fix it.

[2018-05-01 04:39] pratickRoy opened #76 "App crashing without any error log when switching from Indeterminate to Determinate"
If the ProgressBar is set to Indeterminate and then set to Determinate, the app is crashing. No error logs are showing.
However when changing from Determinate to Indeterminate, it is working as expected.

[2018-05-01 19:58] #76 closed, assigned to zhanghai

[2018-05-07 21:12] #73 closed, assigned to zhanghai

[2018-08-13 22:31] maciej-kaznowski opened #79 "Doesn't support scaleY"
Hi, I tried to animate the scaleY using Animator API but I get the following error:

W/PropertyValuesHolder: Method set() with type float not found on target class class me.zhanghai.android.materialprogressbar.IndeterminateHorizontalProgressDrawable$RectTransformX

Code is:
`PropertyValuesHolder scaleY = PropertyValuesHolder.ofFloat(View.SCALE_Y, from, to);
        ValueAnimator valueAnimator = Ob

[2018-08-15 20:10] maciej-kaznowski commented on #79
Closing as it does support scaleY, just that I was triggering the animation code too often.

[2018-08-15 20:10] #79 closed, assigned to nobody

[2018-10-01 09:32] alexbaryzhikov opened #81 "Upgrade to AndroidX"
The library needs to be upgraded to AndroidX.

[2018-10-03 02:53] zhanghai commented on #81
I completed the migration locally but I'll need ButterKnife 9.0.0 release to build without using a hack.

[2018-10-10 11:26] kenumir opened #82 "Show static icon when device in power save mode."
Hi!
When device go into power save mode all animations are disabled. System progressbar shows static image.
Add feature to show custom static image?

[2018-10-17 11:36] Tolriq commented on #61
@DreaminginCodeZH could you reconsider this feature requests?

While it works in Java, Kotlin is more strict and prevent overriding any of the classes due to (public function exposes its internal return type in Kotlin error and all the package private / protected stuff)

[2018-10-28 05:00] #49 closed, assigned to zhanghai

[2018-10-28 05:00] zhanghai commented on #82
Duplicate of #49; Done in master.

[2018-10-28 05:01] #82 closed, assigned to zhanghai

[2018-10-28 05:01] zhanghai commented on #81
Done using ButterKnife 9.0.0-rc1.

[2018-10-28 05:01] #81 closed, assigned to zhanghai

[2018-10-28 09:16] Tolriq opened #83 "Support stroke width in API or have better internals to support Kotlin"
Currently the library does not support stroke width and you said you do not want to implement it. (#61)

The problem is that the current code is filled with protected / private constructors and prevent expanding the library from Kotlin to implement this.

In Java it's relatively simple to achieve, in Kotlin we need to copy and convert 90% of the code :(

To see the issue just convert:
[code]
to ko

[2018-11-01 17:07] zhanghai commented on #83
There are several issues with supporting a stroke width:

- The stroke width on the paint is not actually a DP value - rather its a fraction of the overall size(e.g. 48 or 42), and the actual stroke width will be dependant on the minWidth and maxWidth of the ProgressBar as the drawable will be scaled. I don't know what's a good way to expose this as an API.

- Changing width means changing the har

[2018-11-01 17:29] Tolriq commented on #83
Hum yes I understand that the need is relatively specific :(

My use case is quite simple and I could probably write a custom component but since I already use your nice library and it can fit the need I'd prefer reuse it.

Progress over the FAB to indicate resume point.
![image](https://user-images.githubusercontent.com/932609/47867875-18f86400-de03-11e8-8be1-da09a47400b2.png)

If it's not possib

[2018-11-06 14:32] Tukmens opened #84 "Manifest merger failed!"
I just started to learn Android development few weeks ago so maybe there's issue with me and not with this library. But whenever I'm trying to use it even in new project Android Studio throws out this error.

`Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22

[2018-11-07 08:00] zhanghai commented on #84
This library never used `android:appComponentFactory`, so the issue is most likely you and another library included by you both defined `android:appComponentFactory` on the `<application>` element.

[2018-11-07 08:00] #84 closed, assigned to zhanghai

[2018-11-11 18:40] droidchef commented on #84
I can reproduce this issue in my Android Studio as well.

[2018-11-11 21:34] zhanghai commented on #84
@droidchef

Reading the error message:

You are (either directly or indirectly) mixing old Support Libraries with new Android X, so you need to remove the old one. If you are using an old version of this library, try upgrading it to `implementation 'me.zhanghai.android.materialprogressbar:library:1.6.0'` which has been using AndroidX. If some other libraries caused this, try make sure your Jetifie

[2018-11-14 20:42] iandreyshev commented on #84
@droidchef, I understanding this when read [the post](https://developer.android.com/jetpack/androidx/)

[2018-11-22 08:31] milkaman opened #85 "Crashes while updating to 1.6.0 library version"
There are some breaking changes, some methods are deprecated.
It would be great if next time you add some notes to README for example.

For example `setIndeterminateTintList(@Nullable ColorStateList tint)` is not deprecated and it will crash the app.

It will not take so much time, but lot's of users will be aware what to change and check in code.

Maybe I didn't found such file, but seems like it

[2018-11-22 20:22] zhanghai commented on #85
Sorry to hear that your app was crashing.

If you take a look at the changes between v1.4.2 and v1.6.0 on MaterialProgressBar.java, you may find that the changes was about moving setIndeterminateTintList() implementation into setSupportIndeterminateTintList(), which won't cause confusion when targetting API < 21 and using a framework ProgressBar typed variable, and should be the right thing to do.

[2018-11-23 13:34] milkaman commented on #85
Thanks for quick response)

I found the right method in a second, but just want that other users would be aware of that case.

[2018-11-28 09:14] zhanghai commented on #85
I've updated the release notes to mention this; although I didn't expect this deprecation to actually break apps because it is made to call the same method just with an additional warning in logcat.

[2018-12-01 19:00] #85 closed, assigned to zhanghai

[2019-01-15 03:52] zihadrizkyef commented on #84
Then how to solve this? The Issue appears when i implement this library to my project
Now i cannot use your ammazing library because this issue

[2019-01-15 09:41] Tukmens commented on #84
I just used an older version of this library. But since I was using it just for learning purposes I had no willingness to find a workaround to run the newest one. But definitely there's a problem with their library since I've tried to run it also on clean AS project without any androidX.

[2019-01-16 01:25] zhanghai commented on #84
Please migrate to AndroidX and use the lastest version of this library.

If you really don't want to use AndroidX, you need to stick with v1.4.2 of this library.

[2019-02-13 19:12] arungoyal commented on #83
Any update on this issue with newer version

[2019-02-14 09:38] Tolriq commented on #83
I personally wrote a custom component to fit the need. Issue could probably be close, even if allowing easier customization from Kotlin would be a nice addition.

[2019-05-19 14:09] ahuynh359 opened #86 "I can't implement the current version in Android Studio 3.4.1"
I can't implement the library with the current version which causes the error

 "ERROR: Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.0.1] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentF

[2019-05-19 16:46] zhanghai commented on #86
Duplicate of #84.

[2019-05-19 16:46] #86 closed, assigned to zhanghai

[2019-07-05 08:10] rishabh876 opened #87 "Slow Rendering performance"
Can you please check the GPU profiler. I see almost all frames very near to 16ms mark on the sample app on the play store. Can this be improved?

[2019-07-05 17:31] zhanghai commented on #87
That's because the sample app placed 12 animated progress bars on the same page and this normally won't happen for real apps. Unless there's performance issue when using a single progress bar I don't think we need to fix anything.

[2019-07-05 17:33] #87 closed, assigned to nobody

[2019-09-24 19:41] sajallimbu opened #88 "How do i stop or hide the progress bar once it's done?"
I cant find the function to hide the progress bar like .setInvisible

[2019-09-25 01:16] zhanghai commented on #88
This is not an issue specific to this library, so please refer to Android documentation on View.setVisibility().

[2019-09-25 01:16] #88 closed, assigned to nobody

[2019-09-27 15:17] bios90 opened #89 "Set corner radius to 0"
How can i make my progress bar square. Now i use this code and it mkes progress bar rounded
`    <me.zhanghai.android.materialprogressbar.MaterialProgressBar
        style="@style/Widget.MaterialProgressBar.ProgressBar.Horizontal"
        android:layout_width="match_parent"
        android:layout_height="3dp"
        android:indeterminate="false"
        android:progress="40"
        android:progr

[2019-09-27 17:33] zhanghai commented on #89
Only plain rectangles are drawn for a horizontal progress bar in the code, so I don't really know how can there be a rounded corner.

Can you reproduce this with the sample app of this library? If so, can you provide a screenshot and the model of your device?

[2019-10-10 08:41] zhanghai commented on #89
Closing for inactivity.

[2019-10-10 08:41] #89 closed, assigned to zhanghai

[2019-10-10 08:42] zhanghai commented on #75
Closing for inactivity.

[2019-10-10 08:42] #75 closed, assigned to zhanghai

[2019-12-09 11:37] nurlan-dzhavadov opened #90 "Smooth Ticking"
Hello everyone!
I'm new to coding and I'd like to know how can I **make my countdown timer tick smooth**, because with this library it ticks every second and as far as I know smooth animation for determinate progress bar is not determined here.
I used the Reso Coder tutorial
https://www.youtube.com/watch?v=VnRxq4Fpl64&list=PL6qsKvNuUq6mU_XcgzFsEztAFKXnieQz7&index=21&t=275s

I tried to find a solut

[2019-12-11 02:28] zhanghai commented on #90
This is not really a question related to this library because it's about animating the progress value, which can also apply to a framework `ProgressBar`. [StackOverflow](https://stackoverflow.com/questions/tagged/android) would be a better place for these kind of programming questions.

Having said that, you might want to check out [`ProgressBar.setProgress(int progress, boolean animate)`](https:/

[2019-12-11 02:28] #90 closed, assigned to zhanghai

[2021-01-06 08:12] SaurabhGaddelpalliwar opened #93 "Can not change MaterialProgressBar progress color programatically."
like,
  progressBarLoad.getIndeterminateDrawable().setColorFilter(Color.parseColor(SharedPreference.getInstance(getActivity()).getString("progressBar", "#d83bff")), android.graphics.PorterDuff.Mode.MULTIPLY);

please tel me you have any solution or any function to change a color of  MaterialProgressBar progress color programatically.

[2021-01-06 09:17] zhanghai commented on #93
Please read the README, e.g. `app:mpb_progressTint`.

[2021-01-06 09:17] #93 closed, assigned to zhanghai

[2021-02-03 16:18] XIZZW opened #94 "AndroidX"
I am getting the following when running `canISayByeByeJetifier`.
[code]
Would you consider update to AndroidX?

Thanks!

[2022-07-26 09:30] DoraCoder opened #95 "I am developing an OpenHarmony application with JavaScript language which used your library, will your library support OpenHarmony platform by JavaScript language? if so, I want to contribute to the OpenHarmony build of this library. Expecte foe your reply!"

[2022-07-29 05:42] zhanghai commented on #95
No, I don't plan to support that. Meanwhile, people should move to material-components-android now.

[2022-07-29 05:42] #95 closed, assigned to nobody

[2022-10-28 05:19] SaadKhanJadoon opened #96 "Fatal Exception: android.view.InflateException Binary XML file line #232: Error inflating class me.zhanghai.android.materialratingbar.MaterialRatingBar"
Caused by java.lang.VerifyError
Verifier rejected class me.zhanghai.android.materialratingbar.ClipDrawableCompat due to bad method void me.zhanghai.android.materialratingbar.ClipDrawableCompat.setTintList(android.content.res.ColorStateList) (declaration of 'me.zhanghai.android.materialratingbar.ClipDrawableCompat' appears in /data/app/com.drdizzy-2/base.apk:classes3.dex)

@zhanghai